body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.about-section {
    height: 80vh;
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.about-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: #0078d4;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 100;
    font-weight: 600;
    padding: 0 28px;
    min-height: 40px;
}

.modal-body {
    -webkit-box-flex: 4;
    -ms-flex: 4 4 auto;
    flex: 4 4 auto;
    padding: 5px 28px;
    overflow-y: auto;
}

.close-modal-icon {
    position: absolute;
    right: 2%;
    cursor: pointer;
}

.ms-Panel-content {
    padding: 0;
}

*[data-toolbar-option=bg-selector], *[data-toolbar-option=effect-selector], *[data-toolbar-option=particles-config] {
    padding: 1em;
    width: 100%;
}

*[data-toolbar-option=reset-canvas] {
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 81.2%;
}

div[data-toolbar-item=bg-color-display] {
    width: 88%;
    height: 2em;
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    .palette {
        flex: 1;
        margin-right: 0.2em;
        height: 100%;
        border: 1px solid #c8c6c4;
    }
}

#particles-js {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

#effects-dropdown, #particles-type-dropdown, .density-slider {
    width: 88%;
    margin: auto;
}

.collapseTwoContent, .particles-config-collapse {
    padding: 1em;
}